html {
    height: 100%;
    margin: 0;
    font-family: "Texturina" !important;

}

body {
    background-image: url('../images/previewfile_1171923945.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
    margin: 0;
}


/* Header, nav bar */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    display: flex;
    margin: 0;
    padding: 1rem 33px 1rem 2rem;
    font-weight: lighter;
    color: white;
    text-shadow: black 2px 2px;
    opacity: .9;
}

header h4 {
    color: white;
    text-shadow: black 2px 2px;
    font-weight: lighter;
    opacity: .9;
    margin: 20px;
}

header ul {
    margin: 0;
    padding-bottom: 0;
}

/*       _
        .__(.)< (MEOW)
          \___)   
  ~~~~~~~~~~~~~~~~~~*/

header img {
    max-height: 200px;
    margin-right: 2.5px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
}

.dropbtn {
    background-color: rgb(170, 184, 170);
    min-height: 50px;
    color: white;
    text-shadow: black 1px 1px;
    padding: 16px;
    margin-left: 2.5px;
    font-size: 16px;
    border: none;
    opacity: .9;
}

.dropdown {
    position: relative;
    margin-left: 2.5px;

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #dce6e3;
    min-width: 160px;
    min-height: 150px;
    margin-left: 2.5px;
    z-index: 1;
    opacity: .9;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity: .9;
}

.dropdown-content a:hover {
    background-color: #ddd;
    opacity: .9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #a9b1ac;
}

/* ABOUT ME */

.heading {
    margin: 1px 40px 5px;
    padding: 1px 0 60px 20px;
    background-color: rgb(170, 184, 170);
    border-radius: 0px;
    opacity: .9;
}

.heading h2 {
    color: white;
    text-shadow: black 1px 1px;
    font-weight: lighter;
}

.heading a {
    text-decoration: none;
    display: flex;
    flex-flow: row;
    max-width: 75px;

}

.heading p {
    color: white;
    text-shadow: black 1px 1px;
    margin: 15px;
}

.resume-text {
    font-size: 18px;
}

.resume-text,
.resume-text:hover{
    max-width: 75px;
}
.resume-text:hover {
    color: white;
    text-decoration: underline;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row p {
    padding: 15px;
    opacity: .9;
    color: white;
    text-shadow: black 1px 1px;
    background-color: rgb(170, 184, 170);
}

.row a {
    text-decoration: underline;
    color: #ffffff;
}

.column {
    flex: 30%;
    padding: 5px;
}

.justify-center {
    justify-content: center;

}

/* Project images start here */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.picture img {
    width: 450px;
    height: 300px;
    cursor: pointer;
}


.flip-box {
    background-color: transparent;
    width: 450px;
    height: 300px;
    margin: 10px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
} */

/* Position the front and back side */
.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
    background-color: #bbb;
    color: black;
    z-index: 3;
}

/* Style the back side */
.flip-box-back {
    background-color: rgb(170, 184, 170);
    color: white;
    /* transform: rotateY(180deg); */
    overflow-y: auto;
}

/* Contact Form is here */

.contact-h2 {
    color: black;
    text-shadow: white 1px 1px;
    font-weight: lighter;
    padding: 14px 0 0 14px;
    margin: 0 0 4px 0;
}

form#fs-frm {
    background-color: white;
    opacity: .9;
}

fieldset {
    border: none;
    padding-bottom: 0;
}

input[type=text],
input[type=email],
select,
textarea
{
    width: 100%;
    padding: 4px 4px 6px 6px;
    box-sizing: border-box;
    resize: vertical
}

input[type="submit" i] {

    background-color: rgb(159, 184, 159);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    background-color: white;
    padding: 20px;
    border: none;
    margin-top: 50px;
    opacity: .9;
}

section.picture {
    margin: 5px;
}

/* Footer Code here */

footer section img {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 60px;
    height: 60px;
    display: flex;
}

footer section {
    display: flex;
    opacity: .9;
    background-color: white;
    border-top: rgb(223, 221, 221);
    border-top-style: dashed;
}

@media(max-width: 960px) {
    .row p {
        margin-bottom: 0;
    }
    #contact {
        margin-top: 10px;
    }
    fieldset {
        margin-top: 10px;
    }
}

@media(max-width: 500px) {

    .picture img {
        width: 100%;
        height: 100%;
    }
    .flip-box {
        background-color: transparent;
        width: 360px;
        height: 240px;
        margin: 0 20px 20px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
    .row p {
        margin: 10px;
    }
    div.flip-box-back {
      overflow-y: auto;
    }
    .dropdown-content {
        min-width: 115px;
    }
}

@media(max-width: 390px) {

    .header-container {
        flex-flow: column;
    }
    .header-container img {
        margin-bottom: 15px;
    }
    .dropdown,
    .dropbtn,
    .dropdown-content {
        margin: 0;
    }
    .dropdown {
        max-width: 95.15px;
    }

    .picture img {
        width: 100%;
        height: 100%;
    }
    .picture {
        display: flex;
        align-items: center;
        flex-flow: column;
    }
    .flip-box {
        background-color: transparent;
        width: 300px;
        height: 200px;
        margin: 0 10px 10px;
        font-size: 12.5px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
    div.flip-box-back {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }
    .row p {
        margin: 5px 10px;
    }
    .dropdown-content {
        min-width: 105px;
    }
}

@media(max-width: 325px) {

    .heading p {
        font-size: 8px;
        text-shadow: black .5px .5px;
    }
    .flip-box {
        width: 225px;
        height: 150px;
    }
}
